{
  "node_instance_id": "{{ capabilities.app_node_instance_id }}",
  "chart": "bitnami/drupal",
  "flags": [
    {
      "name": "namespace",
      "value": "dp"
    }
  ],
  "set_values": [
    {
      "name": "fullnameOverride",
      "value": "{{ capabilities.app_name }}"
    },
    {
      "name": "image.registry",
      "value": "docker.io"
    },
    {
      "name": "image.repository",
      "value": "bitnami/drupal"
    },
    {
      "name": "image.tag",
      "value": "9.3.2"
    },
    {
      "name": "resources.requests.cpu",
      "value": "300m"
    },
    {
      "name": "resources.requests.memory",
      "value": "512Mi"
    },
    {
      "name": "drupalUsername",
      "value": "admin"
    },
    {
      "name": "drupalPassword",
      "value": "Cl0ud1fY!"
    },
    {
      "name": "drupalEmail",
      "value": "user@cloudify.co"
    },
    {
      "name": "mariadb.enabled",
      "value": "false"
    },
    {
      "name": "externalDatabase.host",
      "value": "{{ capabilities.app_values.externalDatabase.host }}"
    },
    {
      "name": "externalDatabase.port",
      "value": "{{ capabilities.app_values.externalDatabase.port }}"
    },
    {
      "name": "externalDatabase.user",
      "value": "{{ capabilities.app_values.externalDatabase.user }}"
    },
    {
      "name": "externalDatabase.password",
      "value": "{{ capabilities.app_values.externalDatabase.password }}"
    },
    {
      "name": "externalDatabase.database",
      "value": "{{ capabilities.app_values.externalDatabase.database }}"
    }
  ]
}
